.shoe_img{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.shoe{
    padding: 20px;
}
.portfolio_img{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.portfolio{
    padding: 20px;
}
.portfolio_image{
    width: 50px;
}
.med_image {
width: 50px;
}
